tests/fixtures/soap-server.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://macaco.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://macaco.org/" name="BallServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://macaco.org/" schemaLocation="http://136.199.53.48:8080/BallService/services?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="storeBall">
<part name="parameters" element="tns:storeBall"></part>
</message>
<message name="storeBallResponse">
<part name="parameters" element="tns:storeBallResponse"></part>
</message>
<message name="getBall">
<part name="parameters" element="tns:getBall"></part>
</message>
<message name="getBallResponse">
<part name="parameters" element="tns:getBallResponse"></part>
</message>
<message name="MissingBallException">
<part name="fault" element="tns:MissingBallException"></part>
</message>
<message name="BallHoldtimeException">
<part name="fault" element="tns:BallHoldtimeException"></part>
</message>
<portType name="BallServiceInterface">
<operation name="storeBall">
<input message="tns:storeBall"></input>
<output message="tns:storeBallResponse"></output>
</operation>
<operation name="getBall">
<input message="tns:getBall"></input>
<output message="tns:getBallResponse"></output>
<fault message="tns:MissingBallException" name="MissingBallException"></fault>
<fault message="tns:BallHoldtimeException" name="BallHoldtimeException"></fault>
</operation>
</portType>
<binding name="BallServiceImplPortBinding" type="tns:BallServiceInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="storeBall">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getBall">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MissingBallException">
<soap:fault name="MissingBallException" use="literal"></soap:fault>
</fault>
<fault name="BallHoldtimeException">
<soap:fault name="BallHoldtimeException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BallServiceImplService">
<port name="BallServiceImplPort" binding="tns:BallServiceImplPortBinding">
<soap:address location="http://136.199.53.48:8080/BallService/services"></soap:address>
</port>
</service>
</definitions>